<footer>
  <p class="copyright">
    A <a href="https://www.quangdao.com">Quangdao Nguyen</a> catastrophe. All rights reserved.
  </p>

  <p class="source">
    Made with ❤️ using <a href="https://astro.build/">Astro</a>. | <a href="https://github.com/quangdaon/qlicks">Source Code</a>
  </p>
</footer>


<style>
  p {
    font-size: 0.75em;
    margin-bottom: 0.5em;
  }

  p.source {
    font-size: 0.625em;
  }
</style>