---
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import '../styles/main.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@quangdao/brandkit@0.1.1/dist/core.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Quangdao Nguyen</title>
		<meta name="description" content="Quangdao is a creative, adaptable, and resourceful software engineer with a passion for pushing limits and challenging impossiblities.">
  </head>
  <body>
    <SiteHeader />

    <main>
      <slot />
    </main>

    <SiteFooter />
  </body>
</html>

<style>
	main {
		margin: 2em auto;
		max-width: 800px;
	}
</style>
